[user]
    name = Markus Opitz
    email = mo@appradar.com
[core]
    commentchar = ";"
[merge]
    ff = false
[pull]
    rebase = true
[credential]
    helper = store
[alias]
    sdiff = "diff --staged"
